<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>new category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>New category information</h1>
	<div>
	<form action="#" th:object="${category}" th:action="@{saveCategory}" method="post">
		<table>
			<tr>
				<td>Name: <input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>				
			</tr>
			
		</table>
			<input type="submit" value="Save"></input>
		</form>
	
	</div>

 	
</body>
</html>